[*.cs]

# CA1501: 避免过度继承
dotnet_diagnostic.CA1501.severity = warning

# CA1502: 避免过度复杂性
dotnet_diagnostic.CA1502.severity = warning

# CA1505: 避免使用无法维护的代码
dotnet_diagnostic.CA1505.severity = warning

# CA1506: 避免过度的类耦合
dotnet_diagnostic.CA1506.severity = warning

# CA1509: 代码度量规则规范文件中的条目无效
dotnet_diagnostic.CA1509.severity = warning
